<div class="root-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input type="email" matInput placeholder="Email" formControlName="email" />
        </mat-form-field>

        <mat-form-field class="full-width">
          <input type="password" matInput placeholder="Password" formControlName="password" />
        </mat-form-field>
      </mat-card-content>
      <button [disabled]="loading" mat-stroked-button color="accent" class="btn-block">
        Log in
      </button>
    </form>
  </mat-card>
</div>
