<div class="root-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input type="email" matInput placeholder="Email" formControlName="email" />
        </mat-form-field>

        <mat-form-field class="full-width">
          <input type="password" matInput placeholder="Password" formControlName="password" />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Choose a role...</mat-label>
          <mat-select [(value)]="selected">
            <mat-option [value]="roles.value" *ngFor="let roles of Roles">{{ roles.name }} </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>

      <button [disabled]="loading" mat-stroked-button color="accent" class="btn-block">
        Register
      </button>
    </form>
  </mat-card>
</div>
