<div class="root-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <div class="container mat-elevation-z8">
    <div class="form">
      <mat-form-field floatPlaceholder="never" color="accent">
        <input matInput #filter placeholder="Filter issues" />
      </mat-form-field>

      <!-- <mat-table #table matSort class="mat-cell"></mat-table> -->
      <!-- <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
        No results
      </div> -->
    </div>
  </div>
</div>
