<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div><a routerLink="/" class="logo">My App</a></div>
  <span class="nav-tool-items" [ngSwitch]="authenticationService.authenticated$ | async">
    <a mat-button routerLink="login" routerLinkActive="active" *ngSwitchCase="false">Log in</a>
    <a mat-button routerLink="register" routerLinkActive="active" *ngSwitchCase="false">Register</a>
    <a mat-button (click)="logout()" *ngSwitchCase="true">Logout</a>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
